html {
  font-size: 100%;
}
html, body, #app{
  height:100%;
}
body {
  padding-right:0px !important;
  padding: 0px;
  margin: 0px;
}


/*
                            АНИМАЦИИ
                                                                   */
#merit i {
animation-delay: 0.1s;
animation-duration: 30s;
animation-iteration-count: infinite;
}
#order li {
animation-delay: 0.1s;
animation-duration: 5s;
animation-iteration-count: infinite;
}
/*
                            ШРИФТЫ
                                                                   */
body, body p {
  font-family: 'Arial','Times';
}
body h1,body h2,body h3,body h4,body h5,body h6 {
  font-family: 'Cormorant Garamond','Cormorant Unicase',
  'Playfair Display','Times','Arial black','Arial';
}
.navbar-brand, #intro h1 {
  font-family: 'Righteous','Didact Gothic','Arial black','Arial';
}
.nav-item, #intro p {
  font-family: 'Oswald','Didact Gothic','Arial black','Arial';
}
/*                      Лэндинг                          */
#feedbacks h5 {
  font-family: 'Cormorant Garamond','Cormorant Unicase',
  'Playfair Display','Times','Arial black','Arial';
}
#feedbacks p {
  font-family: 'Bad Script','Didact Gothic','Arial black','Arial';
}
/*                      Галерея                          */
.gallery_section_content h1,.gallery_section_content h2,
.gallery_section_content a {
  font-family: 'Oswald','Times','Arial black','Arial';
  color: #ccc;
}
.gallery_section_content h1,.gallery_section_content h2 {
  font-size: 5rem;
}
/*                      Материалы                         */
#materials .modal h4,
#materials .modal h5 {
  font-family: 'Righteous','Arial black','Arial';
}
#materials .card-content h4,
#materials .card-content h5 {
  font-family: 'Righteous','Arial black','Arial';
}
/*          Детали страниц          */
/*           Кнопка-вверх     */
#upbutton {
  bottom: 0px;
  color: #74f53d;
  cursor: pointer;
  display: none;
  font-size: 4rem;
  position: fixed;
  right: 25px;
  transition: all 5s ease;
  z-index: 999;
}
#upbutton:hover {
  color: green;
  transition: all 2s ease;
}
/*
            МЕНЮ и ФУТЕР
                                                       */



/*                  Доп.меню                         */
/*.add_bar {
  background-color: #961e1e;
  background: linear-gradient(to top, #ff1e1e, #701e1e);
  opacity: 0.9;
  padding: 0px 20px 0px 20px;
  width: 100%;
}
.add_bar a {
  color: white;
  margin: 0px;
  outline: none;
  text-decoration: none;
}*/
/*                            */



/*                  Меню                         */
.navbar {
  background-color: #961e1e;
  background: linear-gradient(to top, #701e1e, #ff1e1e);
  opacity: 0.9;
  padding: 0px 20px 0px 20px;
  width: 100%;
}
.navbar a {
  color: white;
  margin: 0px;
  outline: none;
}
/*логотип меню*/
.navbar-brand {
  font-size: 1.8rem;
}
.navbar-brand a {
  color: white;
  text-decoration: none;
}
.navbar-brand a:hover {
  color: #fcc !important;
}
/*пункты меню*/
.nav-item {
  padding-left: 0px;
  padding-right: 0px;
}
.nav-item a{
  color: white !important;
  font-size: 1.2rem;
  padding: 10px 10px 10px 10px !important;
}
.nav-item a:hover{
  color: #fcc !important;
}
/*под пункты меню*/
.dropdown-menu {
  background-color: #993232;
}
.dropdown-menu a{
  color: white !important;
  font-size: 1.2rem;
  padding: 0px 10px 4px 10px !important;
}
.dropdown-menu a:hover{
  color: #961e1e !important;
}
.dropdown-menu a:active{
  background-color: #fcc !important;
}
/*кнопка-гамбургер меню*/
.navbar-toggler {
  font-size: 1.2rem;
}
/*                            */
/*                Футер                */
footer {
  background-color: black;
  border-top: 3px solid #333;
  height: 250px;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
footer h5 {
  color: white;
  font-size: 150%;
  font-weight: 600;
}
footer p {
  color: white;
  font-size: 125%;
}
footer img {
  width: 70px;
}
#footer {
  padding: 20px 100px 20px 100px;
}
.flex_container {
  display: flex;
}
.flexbox {
  flex: 1;
}
#flexbox4 {
  text-align: center;
}
#flexbox4 a {
  padding-left: 10px;
  padding-right:10px;
}
/*                                                           */
/*     */
/*                   */
/*                 Лэндинг                 */
#landing {
  min-height: 100%;
}
#landing h2 {
  font-size: 5rem;
  line-height: 0.8;
}
/*     blank     */
#landing h4 {
  font-size: 3rem;
}
/*   feedbacks   */
#landing h5 {
  font-size: 2rem;
}
/*  only:  merit, feedbacks, about us  */
#landing p {
  font-size: 1.5rem;
  line-height: 1;
}
#landing .row {
  padding-left: 0px;
  padding-right: 0px;
}
#landing .row img {
  border-bottom: 0px solid;
  border-top: 0px solid;
  width: 100%;
}
/*                            */
/*               Интро                    */
#intro {
  background-image: url(../img/intro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
}
#intro_content{
  background-color: #ddd;
  border: 4px solid #ccc;
  opacity: 0.7;
  color: #333;
  left: 15%;
  padding-top: 15px;
  position: absolute;
  top: 40%;
  width: 70%;

}
#intro_content h1 {
  font-size: 4rem;
  padding-left: 10px;
  padding-right: 10px;
}
#intro_content p {
  font-size: 2rem;
  text-transform: uppercase;
}
#intro_content_mobile {
  display: none;
}
/*                                 */
/*                 Cлайдер               *   */
#REBUS_carousel {
  border-bottom: 8px double black;
  border-top: 8px double black;
}
#REBUS_carousel img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
#REBUS_carousel .carousel-item {
}
#REBUS_carousel i {
  color: #74f53d;
  font-size: 4rem;
}
/*                                  */
/*              Качества компании            */
#merit {
  background-image: url(../img/merit.jpeg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#merit h2 {
  padding-bottom: 150px;
  padding-left: 150px;
  padding-top: 150px;
  text-align: left;
}
#merit .row {
  margin-left: 100px;
  margin-right: 100px;
}
#merit .col-sm-6 {
  padding-bottom: 50px;
}
#merit i {
  font-size: 4rem;
  margin-bottom: 25px;
}
#merit #guarantees {
  font-size: 1.3rem;
  line-height: 1.1;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  text-align: center;
}
/*                                      */
/*                 Отзывы клиентов             */
#feedbacks {
  margin-top: 200px;
  background-image: url(../img/feedbacks.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#feedbacks_second_content {
  margin-top: 100px;
}
#feedbacks h2 {
  padding-right: 150px;
  text-align: right;
}
#feedbacks h5 {
  padding-left: 30%;
  padding-right: 125px;
  text-align: right;
  line-height: 0.9;
}
#feedbacks .row {
  margin: 0px;
  padding-left: 100px;
  padding-right: 100px;
}
#feedbacks .row img {
  border-radius: 100px;
  border: 5px double black;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  transition: all 0.5s ease;
  width: 200px;
}
#feedbacks .row img:hover {
  border: 10px double #74f53d;
  transition: all 0.5s ease;
}
/*                                       */
/*               Как проходит заказ                */
#order {
  background-image: url(../img/order.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  overflow-x: hidden;
  padding-bottom: 300px;
  padding-top: 100px;
  text-align: right;
}
#order h2 {
  padding-bottom: 75px;
  padding-right: 200px;
}
#order ul {
  padding-left: 0px;
}
#order li {
  font-size: 1.6rem;
  list-style: none;
  padding-right: 150px;
}
#order ul img {
  height: 75px;
  width: 75px;
}
.order_phone_icons {
  display: none;
}
/*                    */
/*            Бланковый раздел             */
#blank {
  margin-top: 100px;
  background-image: url(../img/blank.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 700px;
  text-align: center;
}
#blank h2{
  padding-bottom: 50px;
}
#blank i {
  color: black;
  font-size: 5rem;
  transition: all 5s ease;
}
#blank i:hover {
  color: #74f53d;
  transition: all 2s ease;
}
#blank a {
  outline: none;
}
/*                        */
/*                   Заявка              */
#request {
  background-image: url(../img/request_intro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
  position: relative;
}
#аpplication {           /*якорь на заявку*/
  position: absolute;
  top: 300px;
}
#аpplication_form {
  background-color: #edfff0;
  border: 4px solid black;
  left: 25%;
  opacity: 0.9;
  position: absolute;
  top: 400px;
  width: 50%;
}
#аpplication_form p {
  font-size: 1.2rem;
  padding-top: 30px;
}
#request form {
  padding: 50px;
}
#request form small {
  font-size: 1.1rem;
}
#request form button {
  margin-left: auto;
  margin-right: auto;
}
#app_conteiner_for_phone {
  display: none;
}
#request .btn-sm {
  display: none;
}
#app_warning {
  line-height: 0.9;
}
/*                        */
/*           О нас                    */
#about_us {
  margin-top: 100px;
}
#about_us h2 {
  text-align: center;
}
#about_us p {
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 50px;
  text-align: left;
}
#about_us_img {
  background-image: url(../img/about_us.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
/*                        */
/*             Гугл карта              */
#google_map {
  border-top: 8px double #000;
  width: 100%;
}
/*                            */
/*                 */
/*       */

/*
                              ГАЛЕРЕЯ
                                                                */
.container-fluid {
  padding: 0;
}
.gallery_content .card {
  display: block !important;
  margin: 0px;
  padding: 0px;
}
.gallery_content .row {
  padding: 25px;
  margin: 0px;
}
.gallery_intro_images, .gallery_ending_images, .gallery_sub_images {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 /*эффект параллакса*/
  background-attachment: fixed;
  height: 100vh;
  min-height: 100%;
}
.gallery_section_content {
  text-align: center;
  background-color: #282e34;
  border-top: 3px solid #181e1e;
  border-bottom: 3px solid #181e1e;
  color: #ddd;
  position: absolute;
  top: 60vh;
  width: 100%;
  text-transform: uppercase;
  opacity: 0.9;
}
.gallery_section_content h1 {
  font-size: 4rem;
  padding: 0px 25px 15px 25px;
  margin: 0px
}
.gallery_section_content h2 {
  font-size: 3rem;
  background-color: #282e34;
  text-transform: uppercase;
  padding-top: 15px;
}
.gallery_section_content a {
  padding: 10px;
  text-decoration: underline;
  outline: none;
  font-weight: 500;
  font-size: 1.5rem;
}
}
.gallery_section_content a:hover {
  color: #688;
  transition: all 0.5s ease;
}
.gallery_images {
  border-top: 3px solid #181e1e;
  border-bottom: 3px solid #181e1e;
  background-color: #282e34;
  padding-top: 25px;
  padding-bottom: 25px;
}
.gallery_images img {
  width: 100%;
}
.gallery_images .card {
  background-color: #282e34;
}
.gallery_images .card-content {
  border: 3px solid #181e1e;
}
.gallery_images .card-content img {
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}
/*
                     Разделы галлереи
                                                           */
/*                */
/*                     Двери                */
#doors_intro_img{
  background-image: url(../img/gallery/doors11.jpeg);
}
#doors_ending_img{
  background-image: url(../img/gallery/doors3.jpeg);
}
/*                */
/*                    Детские                */
#childrens_rooms_intro_img{
  background-image: url(../img/gallery/childrens_rooms.jpeg);
}
#childrens_rooms_ending_img{
  background-image: url(../img/gallery/childrens_rooms2.jpeg);
}
#childrens_rooms_sub_img1 {
  background-image: url(../img/gallery/childrens_rooms1.jpg);
}
#childrens_rooms_sub_img2 {
  background-image: url(../img/gallery/nursery_school.jpeg);
}
/*                */
/*                   Гостинные                */
#living_rooms_intro_img{
  background-image: url(../img/gallery/living_rooms.jpeg);
}
#living_rooms_ending_img{
  background-image: url(../img/gallery/living_rooms2.jpeg);
}
/*                */
/*                     Кухни                */
#kitchens_intro_img {
  background-image: url(../img/gallery/kitchens_intro.jpeg);
}
#kitchens_ending_img {
  background-image: url(../img/gallery/kitchens_ending.jpeg);
}
#kitchens_sub_img1 {
  background-image: url(../img/gallery/kitchens5.jpg);
}
#kitchens_sub_img2 {
  background-image: url(../img/gallery/kitchens6.jpeg);
}
/*                */
/*                 Массив дерева                */
#solid_wood_intro_img{
  background-image: url(../img/gallery/solid_wood.jpeg);
}
#solid_wood_ending_img{
  background-image: url(../img/gallery/solid_wood3.jpeg);
}
/*                */
/*           Металлические конструкции                */
#metal_сonstructions_intro_img{
  background-image: url(../img/gallery/constructions5.jpg);
}
#metal_сonstructions_ending_img{
  background-image: url(../img/gallery/constructions4.jpg);
}
/*                */
/*                Офисная мебель                       */
#office_furniture_intro_img {
  background-image: url(../img/gallery/officeFurniture_intro.jpeg);
}
#office_furniture_ending_img {
  background-image: url(../img/gallery/officeFurniture_ending.jpeg);
}
/*                */
/*                  Прихожие                       */
#hallway_intro_img {
  background-image: url(../img/gallery/hallway_intro.jpeg);
}
#hallway_ending_img {
  background-image: url(../img/gallery/hallway_ending.jpeg);
}
/*                */
/*                   Спальни                       */
#bedrooms_intro_img{
  background-image: url(../img/gallery/bedrooms0.jpg);
}
#bedrooms_ending_img{
  background-image: url(../img/gallery/bedrooms00.jpeg);
}
#bedrooms_sub_img1{
  background-image: url(../img/gallery/bedrooms6.jpeg);
}
#console_mirror_img{
  background-image: url(../img/gallery/console_mirror.jpeg);
}
#cupboard_img{
  background-image: url(../img/gallery/bedrooms4.jpeg);
}
/*                */
/*                    Столы                       */
#tables_intro_img {
  background-image: url(../img/gallery/tables_intro.jpeg);
}
#tables_ending_img {
  background-image: url(../img/gallery/tables_ending.jpeg);
}
#table_transformer_sub_img1 {
  background-image: url(../img/gallery/table_transformer.jpg);
}
/*                */
/*                   Шкафы купе                       */
#wardrobes_intro_img {
  background-image: url(../img/gallery/wardrobes_intro.jpeg);
}
#wardrobes_ending_img {
  background-image: url(../img/gallery/wardrobes_ending.jpeg);
}
/*                                           */
/*                        */
/*               */
/*
                            МАТЕРИАЛЫ
                                                                   */
#materials {
  text-align: center;
  color: white;
  background-color: white;
  padding-top: 100px;
  position: relative;
}
#materials_ending {
  height: 100px;
}
#materials #plans {
  color: black;
  font-size: 4rem;
  padding-bottom: 75px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 75px;
  text-align: center;
}
#materials h3 {
  font-size: 2.6rem;
  line-height: 0.8;
}
#materials p {
  font-size: 1.3rem;
  line-height: 1.0;
}
#materials_intro_img {
  width: 100%;
  height: 1200px;
  background-image: url(../img/materials/background/materials.jpeg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  z-index: 10;
}
#materials_ending_img {
  width: 100%;
  height: 1000px;
  background-image: url(../img/materials/background/materials3.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  z-index: 10;
}
/*
         Карточки
                            */
#materials .row {
  z-index: 20;
  position: relative;
  padding: 0px;
  margin: 0px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 100px;
}
#materials .flexbox {
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
#materials .row img {
  width: 100%;
  border: 4px solid #333;
  background-color: white;
}
#materials .row a img {
  width: 120px;
  height: 60px;
  border: 4px solid #333;
  transition: all 0.6s ease;
  margin: 10px;
  padding: 5px;
}
#materials .row a img:hover {
  width: 130px;
  height: 70px;
  border: 4px solid #fff;
  transition: all 0.6s ease;
  margin: 5px;
}
#materials .card {
  padding: 0px;
  border: 0px solid;
}
#materials .card-text {
  margin: 10px;
}
#materials .card-content {
  background-color: #444;
  border: 6px solid #333;
  text-align: left;
}
#materials .card-content button {
  background-color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  width: 100%;
}
#materials .card-content button:hover {
  background-color: #fff;
  color: black;
  transition: all 0.5s ease;
}
/*
         модальные окна
                                 */
.modal-header button {
  font-size: 3rem;
}
#materials .modal .manufacturers {
  padding: 5px;
}
#materials .modal h3 {
  font-size: 3rem;
  text-transform: uppercase;
}
#materials .modal h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 25px;
}
#materials .modal h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 15px;
}
#materials .modal p {
  font-size: 1.5rem;
}
#materials .modal img {
  margin: 20px auto 20px;
}
#materials .modal-header {
  color: black;
}
#materials .modal-body {
  background-color: #333;
  color: white;
  text-align: left;
}
#materials .modal-footer{
  color: black;
  display: inline-block;
  width: 100%;
}
#materials .modal-footer h4 {
  margin: 5px;
}
#materials .modal-footer img {
  margin: 3px;
}
#materials .modal-footer a img {
  width: 150px;
  height: 75px;
  border: 3px solid #bbb;
  transition: all 0.5s ease;
  margin: 10px;
}
#materials .modal-footer a img:hover {
  width: 170px;
  height: 85px;
  border: 3px solid #bbb;
  transition: all 0.5s ease;
  margin: 5px 5px 5px 5px;
}
#materials .modal-footer button {
  background-color: 444;
  float: right;
  font-size: 1.5rem;
}
#materials .modal-footer button:hover {
  background-color: #bbb;
  color: black;
}
#materials .modal .close {
  outline: none;
  color: black;
}
#doorModal img {
  display: flex;
  justify-content: center;
}
/*                                           */
/*                        */
/*               */





/* НОВОЕ двери */
/*
                            МАТЕРИАЛЫ
                                                                   */
#doors_page {
  text-align: center;
  color: white;
  background-color: white;
  padding-top: 100px;
  position: relative;
}
#doors_page h3 {
  font-size: 2.6rem;
  line-height: 0.8;
}
#doors_page p {
  font-size: 1.3rem;
  line-height: 1.0;
}
/*
         Карточки
                            */
#doors_page .row {
  z-index: 20;
  position: relative;
  padding: 0px;
  margin: 0px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 100px;
}
#doors_page .flexbox {
  justify-content: center;
  padding: 0px;
  margin: 0px;
}
#doors_page .row img {
  width: 100%;
  border: 4px solid #333;
  background-color: white;
}
#doors_page .row a img {
  width: 120px;
  height: 60px;
  border: 4px solid #333;
  transition: all 0.6s ease;
  margin: 10px;
  padding: 5px;
}
#doors_page .row a img:hover {
  width: 130px;
  height: 70px;
  border: 4px solid #fff;
  transition: all 0.6s ease;
  margin: 5px;
}
#doors_page .card {
  padding: 0px;
  border: 0px solid;
}
#doors_page .card-text {
  margin: 10px;
}
#doors_page .card-content {
  background-color: #444;
  border: 6px solid #333;
  text-align: left;
}
#doors_page .card-content button {
  background-color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  width: 100%;
}
#doors_page .card-content button:hover {
  background-color: #fff;
  color: black;
  transition: all 0.5s ease;
}
/*        */








/*
                            АДАПТИВНОСТЬ
                       mozilla first adaptivity
                  (первичная адаптивность под мозиллу)
                                                                   */

/* Стили для очень больших экранов 
    (дисплей шириной от 1200px пикселей до 1350px пикселей) */
@media (min-width: 1200px) and (max-width: 1350px) {
html {
  font-size: 95%;
}


/*
            ЛЭНДИНГ
                                   */
/*           Интро          */
#intro_content h1 {
  font-size: 3.6rem;
}
#intro_content p {
  font-size: 1.8rem;
}
/*     Качества компании     */
#merit {
  background-size: 80%;
}
#merit h2 {
  padding-left: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
}
#merit .row {
  margin-left: 125px;
  margin-right: 125px;
}
/*      Отзывы клиентов      */
#feedbacks h2 {
  padding-right: 100px;
}
#feedbacks h5 {
  padding-right: 75px;
}
/*     Как проходит заказ        */
#order h2 {
  padding-right: 150px;
}
#order li {
  padding-right: 100px;
}
/*         Заявка           */
#аpplication {
  top: 200px;
}
#аpplication_form {
  top: 300px;
}
#request form {
  padding: 40px;
}
/*           О нас          */
#about_us p {
  padding-left: 200px;
  padding-right: 200px;
}
/*                */
/*       */
} /*  end  */





/* Стили для больших экранов 
      (дисплей шириной от 992 пикселей до 1200 пикселей) */
@media (min-width: 992px) and (max-width: 1200px) {
html {
  font-size: 90%;
}
/*
            МЕНЮ и ФУТЕР
                                   */
/*                             */
/*                Футер                */
footer {
  height: 225px;
}
footer h5 {
  font-size: 135%;
  font-weight: 500;
}
footer p {
  font-size: 110%;
}
footer img {
  width: 60px;
}
#footer {
  padding: 20px 50px 20px 50px;
}
/*                          */
/*       */
/*
            ЛЭНДИНГ
                                   */
/*           Интро          */
#intro_content h1 {
  font-size: 3.4rem;
}
#intro_content p {
  font-size: 1.7rem;
}
/*     Качества компании        */
#merit {
  background-size: 80%;
}
#merit h2 {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
}
#merit .row {
  margin-left: 125px;
  margin-right: 125px;
}
/*     Отзывы клиентов    */
#feedbacks h2 {
  padding-right: 75px;
}
#feedbacks h5 {
  padding-right: 50px;
}
#feedbacks .row {
  padding-left: 75px;
  padding-right: 75px;
}
#feedbacks .row img {
  width: 175px;
  height: 175px;
}
/*     Как проходит заказ        */
#order h2 {
  padding-right: 125px;
}
#order li {
  padding-right: 75px;
}
/*            Бланковый раздел             */
#blank {
  margin-top: 75px;
}
#blank h2{
  padding-left: 150px;
  padding-right: 150px;
}
/*                   Заявка              */
#аpplication {
  top: 0px;
}
#аpplication_form {
  width: 60%;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%)
}
#request form {
  padding: 40px;
}
/*           О нас          */
#about_us p {
  padding-left: 150px;
  padding-right: 150px;
}
/*                */
/*      */
/*
            МАТЕРИАЛЫ
                                   */
#materials .row {
  padding-left: 25px;
  padding-right: 25px;
}
#materials .row a img {
  width: 110px;
  height: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
#materials .row a img:hover {
  width: 120px;
  height: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
/*                          */
/*   */
} /*  end  */





/* Стили для средних экранов 
      (дисплей шириной от 768 пикселей до 992 пикселей) */
@media (min-width: 768px) and (max-width: 992px) {
html {
  font-size: 85%;
}
/*
            МЕНЮ и ФУТЕР
                                   */
/*            Меню            */
.nav-item a{
  padding: 0px 10px 5px 10px !important;
}
/*                             */
/*                Футер                */
footer {
  height: 225px;
}
footer img {
  width: 50px;
}
#footer {
  padding: 15px 25px 20px 25px;
}
.flexbox {
  padding-left: 10px;
  padding-right: 10px;
}
/*                          */
/*      */
/*
            ЛЭНДИНГ
                                   */
/*           Интро          */
#intro_content h1 {
  font-size: 3.2rem;
}
#intro_content p {
  font-size: 1.6rem;
}
/*     Качества компании        */
#merit h2 {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
  padding-right: 350px;
}
#merit #guarantees {
  padding-top: 75px;
  padding-right: 75px;
  padding-left: 75px;
}
/*     Отзывы клиентов    */
#feedbacks h2 {
  padding-right: 75px;
  padding-left: 75px;
  text-align: right;
}
#feedbacks h5 {
  padding-right: 50px;
  padding-left: 150px;
}
#feedbacks_second_content {
  margin-top: 75px;
}
#feedbacks .row {
  padding-left: 50px;
  padding-right: 50px;
}
#feedbacks .row img {
  width: 150px;
  height: 150px;
}
/*     Как проходит заказ        */
#order h2 {
  padding-right: 100px;
  padding-bottom: 50px;
}
#order li {
  padding-right: 75px;
}
/*            Бланковый раздел             */
#blank {
  margin-top: 75px;
}
#blank h2{
  padding-left: 150px;
  padding-right: 150px;
}
/*                   Заявка              */
#аpplication {
  top: 0px;
}
#аpplication_form {
  width: 60%;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%)
}
#request form {
  padding: 30px;
}
/*           О нас          */
#about_us {
  margin-top: 0px;
}
#about_us p {
  padding-left: 125px;
  padding-right: 125px;
}
#about_us_img {
  height: 400px;
}
/*                */
/*      */
/*
            МАТЕРИАЛЫ
                                   */
#materials h3 {
  font-size: 2rem;
}
#materials p {
  font-size: 1rem;
}
#materials_intro_img {
  height: 800px;
}
#materials_ending_img {
  height: 800px;
}
/*
         Карточки
                            */
#materials .row {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}
#materials .row a img {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
#materials .row a img:hover {
  width: 86px;
  height: 46px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
  margin-right: 2px;
}
/*                          */
/*              */
} /*  end  */






/* Стили для маленьких экранов
      (дисплей шириной от 576 пикселей до 768 пикселей) */
@media (min-width: 576px) and (max-width: 768px) {
html {
  font-size: 80%;
}
/*
            АНИМАЦИИ
                                   */
#merit i {
animation-delay: 0s;
animation-duration: 0s;
animation-iteration-count: 0;
}
#order li {
animation-delay: 0s;
animation-duration: 0s;
animation-iteration-count: 0;
}
/*
            МЕНЮ и ФУТЕР
                                   */
/*            Меню            */
.nav-item a{
  padding: 0px 10px 5px 10px !important;
}
/*                             */
/*            Футер             */
footer {
  height: 500px;
}
footer img {
  width: 60px;
}
#footer {
  padding: 15px 25px 20px 25px;
}
.flex_container {
  flex-direction: column;
}
.flexbox {
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  text-align: center;
}
/*                   */
/*      */
/*
            ЛЭНДИНГ
                                   */
/*           Интро          */
#intro_content h1 {
  font-size: 3rem;
}
#intro_content p {
  font-size: 1.5rem;
}
/*     Качества компании        */
#merit {
  background-size: 125%;
}
#merit h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 250px;
}
#merit .row {
  margin-left: 15px;
  margin-right: 15px;
}
#merit #guarantees {
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
}
/*     Отзывы клиентов    */
#feedbacks h2 {
  padding-right: 50px;
  padding-left: 100px;
}
#feedbacks h5 {
  padding-right: 40px;
  padding-left: 150px;
}
#feedbacks_second_content {
  margin-top: 75px;
}
#feedbacks .row {
  padding-left: 75px;
  padding-right: 75px;
}
#feedbacks .row img {
  width: 150px;
  height: 150px;
}
/*     Как проходит заказ        */
#order h2 {
  padding-right:130px;
  padding-left: 130px;
  padding-bottom: 50px;
  text-align: center;
}
#order li {
  font-size: 1.4rem;
  padding-right: 50px;
}
#order ul img {
  width: 50px;
  height: 50px;
}
/*            Бланковый раздел             */
#blank {
  margin-top: 50px;
}
#blank h2{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}
/*                   Заявка              */
#аpplication {
  top: 0px;
}
#аpplication_form {
  width: 80%;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%)
}
#request form {
  padding: 30px;
}
/*           О нас          */
#about_us {
  margin-top: 0px;
}
#about_us p {
  padding-left: 100px;
  padding-right: 100px;
}
#about_us_img {
  height: 400px;
}
/*                */
/*      */
/*
            МАТЕРИАЛЫ
                                   */
#materials_ending_img {
  height: 1000px;
}
/*
         Карточки
                            */
#materials .row {
  padding-left: 125px;
  padding-right: 125px;
}
#materials .card {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
}
#materials .row a img {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
#materials .row a img:hover {
  width: 110px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
#materials .flex_container {
  display: block;
}
/*                */
/*      */
} /*  end  */







/*Стили для мобильных телефонов
               (дисплей шириной от 320 до 576 пикселей)*/
@media (min-width: 320px) and (max-width: 576px) {
html {
  font-size: 70%;
}
/*
            АНИМАЦИИ
                                   */
#merit i {
animation-delay: 0s;
animation-duration: 0s;
animation-iteration-count: 0;
}
#order li {
animation-delay: 0s;
animation-duration: 0s;
animation-iteration-count: 0;
}
/*                       */
/*          Детали страниц          */
/*           Кнопка-вверх     */
#upbutton {
  right: 15px;
}
/*
            МЕНЮ и ФУТЕР
                                   */
/*            Меню             */
.nav-item a{
  padding: 0px 10px 5px 10px !important;
}
/*            Футер             */
footer {
  height: 450px;
}
footer img {
  width: 50px;
}
#footer {
  padding: 15px 25px 20px 25px;
}
.flex_container {
  flex-direction: column;
}
.flexbox {
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  text-align: center;
}
/*                   */
/*      */
/*
            ЛЭНДИНГ
    мобильная   версия          */
/*           Интро          */
#intro_content h1 {
  font-size: 2.6rem;
}
#intro_content p {
  font-size: 1.3rem;
  line-height: 1;
  padding-top: 10px;
}
/*                       */
/*          */
/*    *  Cлайдер           *   */
#REBUS_carousel .fa-arrow-circle-left {
  padding-left: 10px;
}
#REBUS_carousel .fa-arrow-circle-right {
  padding-right: 10px;
}
/*     Качества компании        */
#merit {
  background-size: 150%;
}
#merit h2 {
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 225px;
  text-align: center;
}
#merit .row {
  margin-left: 50px;
  margin-right: 50px;
}
#merit .col-sm-6 {
  padding-bottom: 30px;
}
#merit i {
  margin-bottom: 8px;
}
#merit #guarantees {
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
}
/*     Отзывы клиентов      */
#feedbacks {
  margin-top: 150px;
}
#feedbacks h2 {
  padding-right: 35px;
  padding-left: 75px;
}
#feedbacks h5 {
  padding-right: 25px;
  padding-left: 75px;
}
#feedbacks_second_content {
  margin-top: 75px;
}
#feedbacks .row {
  padding-left: 25px;
  padding-right: 25px;
}
#feedbacks .row img {
  width: 150px;
  height: 150px;
}
/*      Как проходит заказ        */
#order {
  margin-top: 150px;
  padding-top: 0px;
  padding-bottom: 400px;
}
#order h2 {
  padding-right:50px;
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#order li {
  padding-right:50px;
  padding-left: 50px;
  text-align: center;
  line-height: 0.8;
  padding-bottom: 10px;
}
#order ul img {
  width: 50px;
  height: 50px;
}
.order_phone_icons {
  display: flex;
  justify-content: center;
}
.order_icons {
  display: none;
}
/*      Бланковый раздел      */
#blank {
  margin-top: 25px;
  padding-bottom: 600px;
}
#blank h2{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}
/*         Заявка          */
#app_conteiner {
  display: none;
}
#request .btn-lg {
  display: none;
}
/*    мобильная   версия      */
#app_conteiner_for_phone {
  display: block;
}
#request .btn-sm {
  display: block;
}
#request {
  height: 900px;
}
#аpplication {
  top: -150px;
}
#аpplication_form {
  width: 80%;
  top: -50px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%)
}
#аpplication_form p {
  padding-top: 15px;
}
#request form {
  padding: 20px;
}
#request form small {
  line-height: 0.9;
}
/*           О нас          */
#about_us {
  margin-top: 0px;
}
#about_us p {
  padding-left: 25px;
  padding-right: 25px;
}
#about_us_img {
  height: 300px;
}
/*                */
/*      */
/*
            ГАЛЕРЕЯ
                                   */
.gallery_content .row {
  padding: 0px 25px 0px 25px;
}
.gallery_section_content h1 {
  font-size: 3rem;
}
.gallery_section_content h2 {
  font-size: 2.5rem;
}
.gallery_section_content a {
  font-size: 1.3rem;
}
.gallery_images .card {
  padding: 10px;
}
/*
            МАТЕРИАЛЫ
                                   */
#materials_ending_img {
  height: 600px;
}
/*
         Карточки
                            */
#materials .row {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}
#materials .card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
#materials .row a img {
  width: 80px;
  height: 40px;
  margin: 3px;
}
#materials .row a img:hover {
  width: 80px;
  height: 40px;
  margin: 3px;
}

#materials .card-footer {
  padding: 0px;
  margin: 0px;
}
#materials .card-content button {
  background-color: #333;
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  width: 80%;
}
/*
         модальные окна
                                 */
.modal-dialog {
  width: 270px !important;
  margin-left: auto;
  margin-right: auto;
}
#materials .modal h3 {
  font-size: 2rem;
}
#materials .modal h4 {
  margin: 10px;
}
#materials .modal h5 {
  margin: 5px;
}
#materials .modal-footer a img {
  width: 80px;
  height: 40px;
  margin: 5px;
}
#materials .modal-footer a img:hover {
  width: 80px;
  height: 40px;
  margin: 5px;
}
#doorModal img {
  width: 100%;
}
} /*  end  */









/*Стили для мобильных телефонов
         (дисплей шириной до 320 пикселей)*/
@media (max-width: 320px) {
html {
  font-size: 60%;
}

/*
            АНИМАЦИИ
                                   */
#merit i {
animation-delay: 0s;
animation-duration: 0s;
animation-iteration-count: 0;
}
#order li {
animation-delay: 0s;
animation-duration: 0s;
animation-iteration-count: 0;
}
/*                       */
/*          Детали страниц          */
/*           Кнопка-вверх     */
#upbutton {
  right: 15px;
}
/*
            МЕНЮ и ФУТЕР
                                   */
/*            Меню             */
.nav-item a{
  padding: 0px 10px 5px 10px !important;
}
.navbar {
  padding: 0px 15px 0px 15px;
}
/*            Футер             */
footer {
  height: 400px;
}
footer img {
  width: 40px;
}
#footer {
  padding: 15px 25px 20px 25px;
}
.flex_container {
  flex-direction: column;
}
.flexbox {
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  text-align: center;
}
/*                      */
/*          */
/*
            ЛЭНДИНГ
                               */
/*           Интро          */
#intro_content h1 {
  font-size: 2.6rem;
}
#intro_content p {
  font-size: 1.3rem;
  line-height: 1;
  padding-top: 10px;
}
/*                       */
/*          */
/*    *  Cлайдер                   *   */
#REBUS_carousel .fa-arrow-circle-left {
  padding-left: 10px;
}
#REBUS_carousel .fa-arrow-circle-right {
  padding-right: 10px;
}
/*                                     */
/*     Качества компании        */
#merit {
  background-size: 125%;
}
#merit h2 {
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 100px;
  text-align: center;
}
#merit .row {
  margin-left: 25px;
  margin-right: 25px;
}
#merit .col-sm-6 {
  padding-bottom: 30px;
}
#merit i {
  margin-bottom: 8px;
}
#merit #guarantees {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
}
/*                            */
/*     Отзывы клиентов    */
#feedbacks {
  margin-top: 150px;
}
#feedbacks h2 {
  padding-right: 25px;
  padding-left: 50px;
}
#feedbacks h5 {
  padding-right: 25px;
  padding-left: 50px;
}
#feedbacks_second_content {
  margin-top: 75px;
}
#feedbacks .row {
  padding-left: 25px;
  padding-right: 25px;
}
#feedbacks .row img {
  width: 125px;
  height: 125px;
}
/*               *          */
/*     Как проходит заказ        */
#order {
  margin-top: 150px;
  padding-top: 0px;
  padding-bottom: 325px;
}
#order h2 {
  padding-right:50px;
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#order li {
  padding-right:25px;
  padding-left: 25px;
  text-align: center;
  line-height: 0.8;
  padding-bottom: 10px;
}
#order ul img {
  width: 50px;
  height: 50px;
}
.order_phone_icons {
  display: flex;
  justify-content: center;
}
.order_icons {
  display: none;
}
/*     Бланковый раздел      */
#blank {
  margin-top: 25px;
  padding-bottom: 500px;
}
#blank h2 {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}
#blanl h4 {
  padding-left: 25px;
  padding-right: 25px;
}
/*         Заявка          */
#app_conteiner {
  display: none;
}
#request .btn-lg {
  display: none;
}
/*    мобильная   версия      */
#app_conteiner_for_phone {
  display: block;
}
#request .btn-sm {
  display: block;
}
#request {
  height: 800px;
}
#аpplication {
  top: -150px;
}
#аpplication_form {
  width: 80%;
  top: -50px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%)
}
#аpplication_form p {
  padding-top: 15px;
}
#request form {
  padding: 20px;
}
#request form small {
  line-height: 0.9;
}
/*           О нас          */
#about_us {
  margin-top: 0px;
}
#about_us p {
  padding-left: 25px;
  padding-right: 25px;
}
#about_us_img {
  height: 200px;
}
/*                */
/*      */
/*
            ГАЛЕРЕЯ
                                   */
.gallery_content .row {
  padding: 0px 25px 0px 25px;
}
.gallery_section_content h1 {
  font-size: 3rem;
  padding: 0px 10px 0px 10px;
}
.gallery_images .card {
  padding: 10px;
}
/*
            МАТЕРИАЛЫ
                                   */
#materials #plans {
  padding: 50px 25px 50px 25px;
}
#materials_ending_img {
  height: 750px;
}
/*
         Карточки
                            */
#materials .row {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
#materials .card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
#materials .row a img {
  width: 80px;
  height: 40px;
  margin: 5px;
}
#materials .row a img:hover {
  width: 80px;
  height: 40px;
  margin: 5px;
}
#materials .card-content button {
  background-color: #333;
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  width: 80%;
}
/*
         модальные окна
                                 */
.modal-dialog {
  width: 230px !important;
  margin-left: auto;
  margin-right: auto;
}
#materials .modal h3 {
  font-size: 2rem;
}
#materials .modal h4 {
  margin: 10px;
}
#materials .modal h5 {
  margin: 5px;
}
#materials .modal-footer a img {
  width: 80px;
  height: 40px;
  margin: 5px;
}
#materials .modal-footer a img:hover {
  width: 80px;
  height: 40px;
  margin: 5px;
}
#doorModal img {
  width: 100%;
}
} /*  end  */
